<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Contact -->

<body>
    <br/>
    <br/>
    <section class="feature">
        <h1 class ="cont">Contact Us<h1>
        <div class="row">
            <div class="col-6 col-12-small">
                <section>
                    <h3 class="fa fa-comment"> Social</h3>
                    <p>
                        <a href="https://www.instagram.com/natasha_kabasa/">Natasha</a><br/>
                        <a href="#">Hassan</a><br/>
                        <a href="#">Miguel</a><br/>
                        <a href="https://www.linkedin.com/in/jesuloba-david-aa6148201/">Jesuloba David</a><br/>
                    </p>
                </section>
            </div>
            <div class="col-6 col-12-small">
                <section>
                    <h3 class="fa fa-envelope">Email</h3>
                    <p>
                        <a href="natashakabasa@gmail.com">Natasha</a><br/>
                        <a href="#">Hassan</a><br/>
                        <a href="mjcoqui@gmail.com">Miguel</a><br/>
                        <a href="Jesulobadavid@gmail.com">Jesuloba David</a>
                    </p>
                </section>
            </div>
            
        </div>
    </section>
</body>