{% extends "layout.html" %} {% block content %} <html>

<head>
    <meta name="viewport" content="width=device-width, initial-  
        scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <style>
        body {
            background-image:  url("/static/image/ingredientsStock.jpg"); 
        }
    </style>
</head>

<body> 

        <h2 class="welc">{{ subtitle }}</h2>
        <p>
            <center>{{ text }}</center>
        </p>
        <form class="search" method="post" action="" style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by recipe or by two main ingredients" name="recipe">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
        <p><br></br></p>
        <form class="recipe-heading">
            <h2>
                <center>Top Recipes</center>
            </h2>
            <div class="block"> {% for recipe in row_one %} <div class="container">
                    <p class="label">{{recipe['label']}}</p>
                    <a href="{{ recipe['url'] }}" , onclick="window.open('{{ recipe['url'] }}')">
                        <img class="image" src="{{ recipe['image'] }}">
                    </a>
                    <p>{{recipe['']}}</p>
                    
                </div> {% endfor %} </div>
            <div class="block"> {% for recipe in row_two %} <div class="container">
                    <p class="label">{{recipe['label']}}</p>
                    <a href="{{ recipe['url'] }}" , onclick="window.open('{{ recipe['url'] }}')">
                        <img class="image" src="{{ recipe['image'] }}">
                    </a>
                </div> {% endfor %} </div>
            <div class="block"> {% for recipe in row_three %} <div class="container">
                    <p class="label">{{recipe['label']}}</p>
                    <a href="{{ recipe['url'] }}" , onclick="window.open('{{ recipe['url'] }}')">
                        <img class="image" src="{{ recipe['image'] }}">
                    </a>
                </div> {% endfor %} </div>
        </form>

    <body>

</html> {% endblock content %}